<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>maps</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Kanit-Medium.ttf</string>
		<string>Kanit-Light.ttf</string>
		<string>Kanit-Thin.ttf</string>
		<string>Kanit-Regular.ttf</string>
		<string>Kanit-Italic.ttf</string>
		<string>Kanit-MediumItalic.ttf</string>
		<string>Kanit-LightItalic.ttf</string>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
